<div class="tabela">
    <table border="1" cellSpacing="0" width="80%">
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let e of equipes; let i = index">
            <td>{{e.name}}</td>
            <td>
                <button class="editar" (click)="setEquipeselecionada(e)">
                    editar
                </button>
                <button class="deletar" (click)="deleteItem(e)">
                    deletar
                </button>
            </td>
        </tr>
    </table>

</div>
