<div class="tabela">
    <table border="1" cellSpacing="0" width="80%">
        <tr>
            <th>Nome</th>
            <th>Tamanho</th>
            <th>Pais</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let p of pistas; let i = index">
            <td>{{p.nome}}</td>
            <td>{{p.tamanho}}</td>
            <td>{{p.pais.name}}</td>
            <td>
                <button class="editar" (click)="setPistaselecionado(p)">
                    editar
                </button>
                <button class="deletar" (click)="deleteItem(p)">
                    deletar
                </button>
            </td>
        </tr>
    </table>

</div>