h1 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-input {
  margin-bottom: 20px;
}

.input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.save {
  background-color: #04aa6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.2s;
}

.filter {
  background-color: rgb(111, 188, 227);
  width: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  padding: 7px;
  transition: background-color 0.2s;
}

.save:hover {
  background-color: #048c5b;
}

.filter:hover {
  background-color: rgb(58, 140, 181);
}

button:active {
  position: relative;
  top: 1px;
}
