<div>

    <h1>Cadastro de Usuarios</h1>

    <div class="form-input">
        <label for="name">Nome:</label>
        <input id="name" [(ngModel)]="user.name">
        <button class="filter" (click)="getUsersByName(user.name)">Filtrar</button>
    </div>

    <div class="form-input">
        <label for="email">E-mail:</label>
        <input id="email" [(ngModel)]="user.email">
    </div>

    <div class="form-input">
        <label for="senha">Senha:</label>
        <input id="senha" type="password" [(ngModel)]="user.password">
    </div>


    <input class="input" type="radio" name="tipo_user" value="ADMIN,USER" [(ngModel)]="user.roles">Adm
    <input class="input" type="radio" name="tipo_user" value="USER" [(ngModel)]="user.roles">User
    <br>

    <button class="save" (click)="addUser()">Salvar</button>
</div>