.popular {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  
  .tabela {
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: 5px;
    text-align: left;
    margin-top: 70px;
    margin: 0 auto;
  }
  
  button {
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 5px 15px;
    margin-right: 10px;
    transition: background-color 0.2s;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  .deletar:hover {
    background-color: #e72424;
  }
  
  .editar:hover {
    background-color: #05cf05;
  }
  