<div>

    <h1>Cadastro de Corrida</h1>


    < <div class="form-input">
        <label for="data-hora">Data e Hora:</label>
        <input class="input" type="datetime-local" id="data-hora" [(ngModel)]="corrida.data">
    </div>

    <br>

    <div class="form-input">
        <label for="pista">Pista:</label>
        <select id="pista" [(ngModel)]="pistaSelecionada" name="pista" (change)="pistaId = pistaSelecionada?.id ?? null">
            <option *ngFor="let pista of pistas" [ngValue]="pista">{{ pista.nome }}</option>
        </select>
        <button class="filter" (click)="getCorridaByPista()">Filtrar</button>

    </div>

    <div class="form-input">
        <label for="campeonato">Campeonato:</label>
        <select id="campeonato" [(ngModel)]="campeonatoSelecionado" name="campeonato" (change)="pistaId = campeonatoSelecionado?.id ?? null">
            <option *ngFor="let pista of pistas" [ngValue]="pista">{{ pista.nome }}</option>
        </select>
        <button class="filter" (click)="getCorridaByCampeonato()">Filtrar</button>

    </div>

    <button class="save" (click)="insert()">Salvar</button>
</div>