<div class="tabela">
    <table border="1" cellSpacing="0" width="80%">
        <tr>
            <th>Nome</th>
            <th>Ano</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let c of campeonatos; let i = index">
            <td>{{c.descricao}}</td>
            <td>{{c.ano}}</td>
            <td>
                <button class="editar" (click)="setCampeonatoselecionado(c)">
                    editar
                </button>
                <button class="deletar" (click)="deleteItem(c)">
                    deletar
                </button>
            </td>
        </tr>
    </table>

</div>